<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <img [src]='students.img' alt="avatar">
        <div class="modal-about">
          {{dialogTitle}}
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="stdForm" (ngSubmit)="submit">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Roll No</mat-label>
            <input matInput formControlName="rollNo" required>
            <i class="material-icons-outlined color-icon p-3" matSuffix>school</i>
            @if (stdForm.get('rollNo')?.hasError('required')) {
            <mat-error>
              Department is required
            </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" required>
            <i class="material-icons-outlined color-icon p-3" matSuffix>face</i>
            @if (stdForm.get('name')?.hasError('required')) {
            <mat-error>
              Name is required
            </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Select Department</mat-label>
            <mat-select formControlName="department" required>
              <mat-option [value]="'mechanical'">
                Mechanical
              </mat-option>
              <mat-option [value]="'science'">
                Science
              </mat-option>
              <mat-option [value]="'mathematics'">
                Mathematics
              </mat-option>
              <mat-option [value]="'computer'">
                Computer
              </mat-option>
              <mat-option [value]="'civil'">
                Civil
              </mat-option>
            </mat-select>
            @if (stdForm.get('department')?.hasError('required')) {
            <mat-error>
              Select Any Department
            </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender" required>
              <mat-option [value]="'male'">
                Male
              </mat-option>
              <mat-option [value]="'female'">
                Female
              </mat-option>
              <mat-option [value]="'other'">
                Other
              </mat-option>
            </mat-select>
            @if (stdForm.get('gender')?.hasError('required')) {
            <mat-error>
              Gender is required
            </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Mobile</mat-label>
            <input matInput formControlName="mobile" type="number">
            <i class="material-icons-outlined color-icon p-3" matSuffix>phone</i>
            @if (stdForm.get('mobile')?.hasError('required')) {
            <mat-error>
              Mobile is required
            </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" required>
            <i class="material-icons-outlined color-icon p-3" matSuffix>email</i>
            @if (stdForm.get('email')?.hasError('required') || stdForm.get('email')?.touched) {
            <mat-error>
              Please enter a valid email address
            </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Joining date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            @if (stdForm.get('date')?.hasError('required')) {
            <mat-error>
              Please select date
            </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button mat-raised-button color="primary" [disabled]="!stdForm.valid" [mat-dialog-close]="1"
              (click)="confirmAdd()">Save</button>
            <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>